<div class="container">
  <div class="card">
    <h5 class="card-header">Smarter Rooms developed by:</h5>
    <div class="card-body centered">
      <table>
        <td width="250px">
          <img class="pic" src="/riverosm.jpg" alt="Matias Riveros Profile Image">
        </td>
        <td>
          <p class="mt-3"><b>Matias Riveros</b></p>
          <p class="mt-3">+5411 5286-5943</p>
          <p>IBM Martinez - Buenos Aires - Argentina</p>
          <p><a href="mailto: riverosm@ar.ibm.com?Subject=CodeAcademyL3" target="_blank"
              title="Email me!">riverosm@ar.ibm.com</a></p>
        </td>
      </table>
    </div>
  </div>
</div>