<script>
  $(document).ready(function () {

    $('#calendar').fullCalendar({

      dayClick: function (date, jsEvent, view) {
        // document.getElementById('input_fecha_hora').value = date.format();
        // document.getElementById('frmTurnosOK').submit();

        /*
        var mydateObj = new Date(date);
        var chosenDay = mydateObj.getUTCDay();
        if (daysOK.indexOf(chosenDay) >= 0) {
          // DAY OK
          alert("Day OK");
        } else {
          // DAY NOT AVALAIBLE
          alert("Day not OK");
        }
        */
      },

      eventClick: function (calEvent, jsEvent, view) {
        location.replace('/mis_turnos/turno_' + calEvent.id + '/');
        // alert('Muestro info del turno ' + calEvent.id);
      },

      eventRender: function (event, element) {
        if (event.icon) {
          element.find(".fc-title").prepend("<i class='fas fa-" + event.icon + "'></i>&nbsp;");
        }
      },

      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'agendaWeek,agendaDay,listWeek,month'
      },
      views: {
        week: {
          titleFormat: 'DD/MM'
        },
        month: {
          titleFormat: 'MM/YYYY'
        },
        agendaDay: {
          titleFormat: 'DD/MM/YYYY'
        }
      },
      contentHeight: () => {
        if (screen.width < 500) {
          return 380
        } else {
          return 480
        }
      },
      timeFormat: 'HH:mm',
      slotLabelFormat: 'HH:mm',
      defaultView: 'agendaDay', //basicWeek agendaWeek basicDay agendaDay
      fixedWeekCount: false,
      nowIndicator: true,
      allDaySlot: false,
      minTime: "08:00:00",
      maxTime: "20:00:00",
      slotDuration: "00:15:00",
      defaultDate: "2019-07-06",
      editable: false,
      navLinks: true, // can click day/week names to navigate views
      eventLimit: false, // allow "more" link when too many events
      events: {
        // url: '/php/get-events.php',
        url: '/php/turnos.php',
        error: function () {
          $('#script-warning').show();
        }
      },
      /*
      businessHours: [ // specify an array instead
        {
          dow: [ 1, 2, 3 ], // Monday, Tuesday, Wednesday
          start: '08:00', // 8am
          end: '18:00' // 6pm
        },
        {
          dow: [ 4, 5 ], // Thursday, Friday
          start: '10:00', // 10am
          end: '16:00' // 4pm
        }
      ],
      */
      loading: function (bool) {
        $('#div_cargando').toggle(bool);
      }
    });
  });
</script>

<style>
  #div_cargando {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  #div_cargando:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  #script-warning {
    display: none;
    background: #eee;
    border-bottom: 1px solid #ddd;
    padding: 0 10px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    color: red;
  }

  #calendar {
    max-width: 720px;
    margin: 20px auto;
    padding: 0 10px;
    font-size: 14px;
  }

  @media only screen and (max-width: 600px) {
    #calendar H2 {
      margin-top: 20px;
    }
  }
</style>

<div id='script-warning'>
  <code>php/get-events.php</code> must be running.
</div>

<div id="div_cargando">
  <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
</div>

<div id='calendar'></div>