/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$primary: #1C71C1;
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

html {
  position: relative;
  min-height: 100%;
}

BODY {
  margin-bottom: 35px;
  background-color:rgba(255, 255, 255, 0.7);
}

H1 {
  margin-bottom: 25px;
}

.container-fluid {
  background-color: #fff;
  padding-top: 75px;
  padding-bottom: 6px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 35px;
  line-height: 35px;
}

.active {
	background-color: #1C71C1;
  color: white;
  border-radius:8px;
}

.forms {
  width: 40%;
  margin: 0 auto;
}

.card {
  margin: 0 auto;
}

.card-header {
  font-size: 1.0em;
}

.alert {
  border-radius: 0;
  -webkit-border-radius: 0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.11);
  display: table;
  width: 90%;
  max-width: 580px;
  margin: 0 auto;
}

.alert-white {
  background-image: linear-gradient(to bottom, #fff, #f9f9f9);
  border-top-color: #d8d8d8;
  border-bottom-color: #bdbdbd;
  border-left-color: #cacaca;
  border-right-color: #cacaca;
  color: #404040;
  padding-left: 61px;
  position: relative;
}

.alert-white.rounded {
  border-radius: 3px;
  -webkit-border-radius: 3px;
}

.alert-white.rounded .icon {
  border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
}

.alert-white .icon {
  text-align: center;
  width: 45px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #bdbdbd;
  padding-top: 15px;
}


.alert-white .icon:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  display: block;
  content: '';
  width: 10px;
  height: 10px;
  border: 1px solid #bdbdbd;
  position: absolute;
  border-left: 0;
  border-bottom: 0;
  top: 50%;
  right: -6px;
  margin-top: -3px;
  background: #fff;
}

.alert-white .icon i {
  font-size: 20px;
  color: #fff;
  left: 12px;
  margin-top: -10px;
  position: absolute;
  top: 50%;
}
/*============ colors ========*/
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-white.alert-success .icon, 
.alert-white.alert-success .icon:after {
  border-color: #54a754;
  background: #60c060;
}

.alert-info {
  background-color: #d9edf7;
  border-color: #98cce6;
  color: #3a87ad;
}

.alert-white.alert-info .icon, 
.alert-white.alert-info .icon:after {
  border-color: #3a8ace;
  background: #4d90fd;
}


.alert-white.alert-warning .icon, 
.alert-white.alert-warning .icon:after {
  border-color: #d68000;
  background: #fc9700;
}

.alert-warning {
  background-color: #fcf8e3;
  border-color: #f1daab;
  color: #c09853;
}

.alert-danger {
  background-color: #f2dede;
  border-color: #e0b1b8;
  color: #b94a48;
}

.alert-white.alert-danger .icon, 
.alert-white.alert-danger .icon:after {
  border-color: #ca452e;
  background: #da4932;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
  width: 92%;
}

#dropdownMenuLink, #dropdownRoomsLink {
  color: rgba(255, 255, 255, 0.5);
}

#dropdownMenuLink:hover, #dropdownRoomsLink:hover {
  color: rgba(255, 255, 255, 0.75);
}

.accesory_disabled {
  opacity: 0.3;
  filter: alpha(opacity=30);
}

#div_loading {
  margin: 0 auto;
  width: 50%;
}

.room_info {
  height: 260px;
  color: white;
  padding-top: 10px;
}

A:hover {
  text-decoration: none;
}

.room_name {
  padding-left: 10px;
}

.building_name {
  font-size: 10px;
}

.room_info HR {
  width: 90%;
  margin-top: 10px;
  color: white;
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 1px 0;
}

.room_img {
  position: absolute;
  float: left;
  padding-left: 10px;
  margin-top: 10px;
}

.room_img IMG {
  width: 60px;
}

.room_accesories {
  text-align: center;
  margin: 0 auto;
  display: table;
}

.building_image {
  max-width: 300px;
  max-height: 400px;
}