<h1>Stats</h1>

<div class="row justify-content-md-center text-center">
  <div class="col-sm-6 mt-1">
    <div class="card">
      <h5 class="card-header"><b>Title</b></h5>
      <div class="card-body centered">
        <%= column_chart @users %>
      </div>
    </div>
  </div>

  <div class="col-sm-6 mt-1">
    <div class="card">
      <h5 class="card-header"><b>Title</b></h5>
      <div class="card-body centered">
        <%= column_chart @rooms %>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-md-center text-center">
  <div class="col-sm-6 mt-1">
    <div class="card">
      <h5 class="card-header"><b>Title</b></h5>
      <div class="card-body centered">
        <%= column_chart @users %>
      </div>
    </div>
  </div>

  <div class="col-sm-6 mt-1">
    <div class="card">
      <h5 class="card-header"><b>Title</b></h5>
      <div class="card-body centered">
        <%= column_chart @rooms %>
      </div>
    </div>
  </div>
</div>